extends _partial/layout

block content
  .archive
    include _components/nav
    +nav(theme.page_nav)
    .box
      i.icon-location
      include _components/blogInfo
      include _components/posts
      .content
        .category-list
          .circle 分类
          .list!=list_categories({style: 'none', separator: '  '})
        +categories()
