extends partial/layout

block content
  include mixins/post.pug
  include mixins/aside.pug
  +recentPosts()
  .container
    +posts()
    include mixins/pagination.pug
    +home()
    include partial/copyright.pug
