extends _partial/layout

block content
  .container
    include _components/nav
    +nav(theme.page_nav)
    article
      header
        h1.title!= page.title
        i.icon-calendar
        span!= date(page.date, 'YYYY.MM.DD')
      .content!=page.content
    include  _partial/comment

