if(theme.bdAnalysis)
  script.
    var _hmt = _hmt || []
    ;(function () {
      var hm = document.createElement("script")
      hm.src = "https://hm.baidu.com/hm.js?#{theme.bdAnalysis}"
      var s = document.getElementsByTagName("script")[0]
      s.parentNode.insertBefore(hm, s)
    })()
