.copyright
  - var hexoURL = "https://hexo.io/"
  - var cutieUrl = "https://github.com/ycwalker/hexo-theme-cutie"
  - var year = new Date().getFullYear()
  p © #{year} #[a(href=config.url)!= config.author], powered by #[a(href=hexoURL, target="_blank") Hexo] & #[a(href=cutieUrl, target="_blank") hexo-theme-cutie].
