meta(charset='utf-8')
meta(name="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")

title!= config.title

link(rel='stylesheet', href=url_for('/css/index.css'))
link(rel="icon", href=url_for(theme.favicon))
link(rel='stylesheet' href='//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css')

script
    include ../../source/js/classList.min.js
