.container {
  padding-top: 20px;
}

article {
  padding-top: 20px;
  font-size: 15px;
  width: 100%;
  line-height: 2;
  color: #34495e;
  letter-spacing: 0.5px;
  transition: all 0.6s;
  header {
    h1 {
      border: none;
      padding: 0;
      text-align: center;
      font-size: 26px;
      margin: 20px;
      font-weight: normal;
      letter-spacing: 1px;
    }
    text-align: center;
    > i, > span {
      display: inline-block;
      margin: 0 2px;
      color: #aaa;
      font-size: 12px;
    }
  }
  .content {
    width: 100%;
  }

  h1, h2, h3 {
    margin: 24px 0;
    padding-left: 20px;
    border-left: 4px solid #41b883;
  }

  h1, h2, h3 {
    color: #34495e;
    line-height: 1.2;
  }
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 160%;
  }
  h3 {
    font-size: 120%;
  }
  h2, h3 {
    margin: 6px 0;
  }
  h4, h5, h6 {
    font-size: 110%;
  }
  a {
    color: #41b883;
  }
  p {
    margin: 20px 0;
  }
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  time {
    display: block;
    margin: 20px 0;
    color: #888;
  }
  ol, ul {
    padding-left: 30px;
  }
  ul li {
    position: relative;
    list-style: none;
    &:before {
      position: absolute;
      left: -14px;
      top: 12px;
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #41b883;
    }
  }
  blockquote {
    border-left: 4px solid #42b983;
    padding-left: 20px;
    margin-left: 0;
  }
}

.gutter {
  display: none;
}

figure.highlight, figure.highlight table {
  width: 100%;
}

figure.highlight {
  overflow: auto;
  margin: 15px 0;
  box-shadow: 2px 2px 4px -2px #aaa;
}

pre, code, kbd, samp {
  margin: 10px 0;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
}

pre {
  margin: 0;
  width: 100%;
  overflow-x: auto;
  font-size: 12px;
  position: relative;
  letter-spacing: .25px;
  padding: 15px 34px;
  background-color: #f8f8f8;
  .line {
    width: auto;
  }
}

code {
  background-color: #f8f8f8;
  font-size: 13px;
  padding: 1px 6px;
}
