mixin postTime(post)
  time!= full_date(post.date,'ll')

mixin posts()
  ul.excerpts
    - page.posts.each(function (post) {
      li
        article.post.post-item
          h2
            a(href= url_for(post.path))
              != post.title
          +postTime(post)
          .post-excerpts
            != post.excerpt
          a.read-more(href= url_for(post.path))!= __('more')
    - })

mixin postList()
  .archive
    - var year = 0
    - var changed
    - page.posts.each(function (item) {
      - var thisYear = + date(item.date, 'YYYY')
      - changed = year != thisYear
      if changed
        - year = thisYear
        h2.archive-year!= year
      .post-item
        +postTime(item)
        a.post-title-link(href= url_for(item.path))
          != item.title
    - })



