.category-list {
  margin-top: 36px;
  .circle {
    cursor: default;
    text-align: center;
    font-size: 14px;
    width: 40px;
    margin-left: 10px;
    height: 40px;
    border-radius: 50%;
    color: #999;
    line-height: 40px;
    background-color: #f6f6f6;
    box-shadow: 2px 2px 4px -2px #aaa;
  }
  .list {
    margin: -34px 0 0 50px;
    a {
      display: inline-block;
      color: #999;
      font-size: 12px;
      height: 30px;
      padding: 6px 12px;
      margin: 0 0 10px 14px;
      border-radius: 15px;
      background-color: #f6f6f6;
      box-shadow: 2px 2px 4px -2px #aaa;
      &:hover {
        box-shadow: inset 2px 2px 4px -2px #aaa;
      }
      .category-count, .tag-count {
        font-family: 'calligraffittiregular', sans-serif;
        &:before {
          content: ' ( ';
        }
        &:after {
          content: ' ) ';
        }
      }
    }
  }
}
