ul.excerpts {
  width: 800px;
  left: 50%;
  margin-left: -400px;
}

.container {
  width: 800px;
  margin: 0 auto 100px auto;
}

.archive {
  width: 600px;
  margin: 0 auto 100px auto;
  padding-top: 20px;
}

@media screen and (max-width: 860px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
  ul.excerpts {
    width: 100%;
    left: 0;
    margin-left: 0;
    padding: 0 30px;
  }
}

@media screen and (max-width: 660px) {
  .archive {
    width: 100%;
    padding: 20px 30px 0 30px;
  }
}
