// for post page
aside {
  position: fixed;
  z-index: 1;
  top: 80px;
  bottom: 0;
  width: 20vw;
  // The toggle button
  .toggle {
    position: relative;
    z-index: 2;
    margin: 10px 0 0 10px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    span {
      transition: all 0.5s;
      &.item1, &.item3 {
        position: absolute;
        display: block;
        height: 2px;
        background-color: #41b883;
        width: 20px;
      }
      &.item1 {
        transform: rotate(45deg);
      }
      &.item3 {
        transform: rotate(-45deg);
      }
    }
  }
  .toggle.expand {
    background-color: #41b883;
    span {
      position: relative;
      display: block;
      height: 2px;
      background-color: white;
      width: 16px;
      margin: 2px auto;
      transform: rotate(0);
    }
  }
  // directory, with the class 'hide' in default
  .directory {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20vw;
    overflow-y: auto;
    background-color: #48484a;
    border-top: 40px solid #48484a;
    padding: 20px 20px;
    transition: all 0.4s;
    color: white;
    font-size: 14px;
    text-align: center;
    &::-webkit-scrollbar {
      display: none;
    }
    a {
      color: white;
    }
    ol {
      list-style: none;
      text-align: left;
      position: relative;
      li {
        font-size: 12px;
        line-height: 30px;
      }
    }
  }
  .hide {
    left: -20vw;
  }
}

.toc-link {
  display: inline-block;
}

.toc-level-1 > .toc-link {
  font-weight: 600;
  font-size: 14px;
  :before {
    content: '# ';
    font-size: 15px;
    font-weight: bold;
    color: #41b883;
  }
  .toc-number {
    display: none;
  }
}

.toc-number {
  color: #41b883;
}

.toc-child {
  left: 12px;
}

// for home page
.recent-posts {
  position: fixed;
  left: 0;
  top: 80px;
  bottom: 0;
  width: 20vw;
  background-color: #48484a;
  padding: 60px 20px;
  color: white;
  transition: all 0.6s;
  font-size: 14px;
  > h1 {
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
}

.recent-posts-hide {
  left: -20vw;
}

.recent-posts-item {
  margin: 10px 0;
  a {
    color: #41b883;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 10vw;
  }
  time {
    float: right;
  }
}

div.media {
  position: absolute;
  left: 0;
  bottom: 40px;
  z-index: 1;
  text-align: center;
  width: 20vw;
  a {
    font-size: 12px;
    height: 20px;
    border-bottom: 1px solid #41b883;
    margin: 10px;
    display: inline-block;
    color: white;
    span {
      letter-spacing: 0.6px;
      display: inline-block;
      margin-left: 4px;
    }
  }
}

// for container in the right
.container {
  margin-left: 20vw;
  position: relative;
  min-height: calc(100vh - 80px);
  //height: 100%;
}
