.post-wrap-main{
  background-image: none !important;
}
.service-wrap-w a{
  color: white !important;
}
.split-hr .split-txt{
  visibility: hidden !important;
}
#SOHUCS,
#SOHUCS #SOHU_MAIN,
#SOHUCS #SOHU_MAIN #SOHU-comment-main,
#SOHUCS #SOHU_MAIN #SOHU-comment-main input,
#SOHUCS #SOHU_MAIN #SOHU-comment-main textarea,
div.windows-define-dg,
div.windows-define-dg input,
div.windows-define-dg textarea{
  font-family:'Microsoft YaHei',sans-serif !important;
}
