pre .comment, pre .title {
  color: #969896;
}

pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #d54e53;
}

code, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #e78c45;
}

pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #e7c547;
}

pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #b9ca4a;
}

pre .css .hexcolor {
  color: #70c0b1;
}

pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #7aa6da;
}

pre .keyword, pre .javascript .function {
  color: #c397d8;
}
