div.pagination {
  padding: 40px 0;
  $baseColor: #41b883;
  $lighten: lighten($baseColor, 20%);
  text-align: center;
  >a {
    position: relative;
    display: inline-block;
    top: 0;
    width: 50px;
    height: 26px;
    margin: 14px;
    background-color: $lighten;
    color: #FFF;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 1.6px;
    box-shadow: 0 4px 0 $baseColor, 0 5px 2px rgba(65, 184, 131, 0.2);
    border-color: #EEE;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    &:hover, &:focus {
      color: #d4d4d4;
      box-shadow: 0 4px 0 #bbbbbb, 0 5px 2px rgba(0, 0, 0, 0.2);
      background-color: #f6f6f6;
      outline: none;
    }
    &:active {
      top: 3px;
      transition-property: all;
      transition-duration: .15s;
      box-shadow: 0 2px 0 #bbbbbb, 0 3px 3px rgba(0, 0, 0, 0.2);
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
      background-color: #eeeeee;
      border-color: #cfcfcf;
      color: #d4d4d4;
    }
  }
}
